<!-- MODAL -->
<div class="modal fade" id="view-members" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  modal-xl modal-dialog-centered">
        <div class="modal-content">
            
            <div class="border border-5 p-3">
                <table class="table " style="width:100%" id="view-members-table">
                    <!-- <thead>
                        <tr>
                            <th scope="col" class="text-center">Name</th>
                            <th scope="col" class="text-center">Family Name</th>
                            <th scope="col" class="text-center">Access Date</th>
                            <th scope="col" class="text-center">Nationality</th>
                            <th scope="col" class="text-center">Identity Document Type</th>
                            <th scope="col" class="text-center">Identity Number</th>
                        </tr>
                    </thead> -->
                
                    <!-- <tbody>
                        <tr *ngFor="let member of membersList">
                            <td class="text-center">{{ member.name }}</td>
                            <td class="text-center">Doe</td>
                            <td class="text-center">2021-08-01</td>
                            <td class="text-center">American</td>
                            <td class="text-center">PASSPORT</td>
                            <td class="text-center">1234567890</td>
                        </tr>
                    </tbody> -->
                </table>
            </div>

        </div>
    </div>
</div>
