<!-- The Modal -->
<div class="modal fade" id="addMemberToCompetition" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Member To Competition</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="competitionSelect" class="form-label">Select Competition</label>
            <select class="form-select" id="competitionSelect" [(ngModel)]="selectedCompetitionId">
              <option *ngFor="let competition of competitions" [value]="competition.id">{{ competition.code }}</option>
            </select>
          </div>
  
          <div class="mb-3">
            <label for="memberSelect" class="form-label">Select Member</label>
            <select class="form-select" id="memberSelect" [(ngModel)]="selectedMemberId">
              <option *ngFor="let member of members" [value]="member.id">{{ member.name }} {{ member.familyName }}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  